%h1 List of people
%table
  %tr
    %th Name
    %th Birthdate
    %th Height
  - @people.each do |person|
    %tr
      %td= person.name
      %td= person.birthdate
      %td= person.height
      %td= link_to 'Show', person_path(person)
      %td= link_to 'Edit', edit_person_path(person)
      %td= link_to 'Destroy', person, method: :delete, data:{confirm: 'Are you sure?'}
%br
= link_to 'Create new person', new_person_path