= paginate map_tasks

%table
  %tr
    %th Name
    %th Date
    %th Description
    - map_tasks.each do |task| #chamada do metodo map_tasks que guardara em cada objeto 'tasks' os seus atributos
      %tr
      %tr
      %tr
      %td= task.name
      %td= task.date
      %td= task.description
      %td= link_to 'Show', task_path(task), :remote => true
      %td= link_to 'Edit', edit_task_path(task), :remote => true
      %td= link_to 'Destroy', task_path(task, page: params[:page]) , method: :delete, data:{confirm: 'Are you sure?'}#, :remote => true