%h1 List of tasks

/ imprime na tela a quantidade de itens por pagina
= p @tasks.count
%br

/ # = p :location => tasks_path(:page => params[:page])

%br
/Esta carregando a 'div list' e renderizando a partial list
#list
  = render "list"

%br
%br
= link_to 'Create new task', new_task_path, :remote => true

/carrega a 'div io'  que sera exibida juntamente na mesma pagina com o 'list'
#io