%h1 List of users
%table
  %tr
    %th Users
  - @users.each do |user|
    %tr
      %td= user.user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data:  {confirm: 'Are you sure?'}
%br

=link_to 'New User', new_user_path

=link_to 'Sign Out', sessions_path, {method: :delete}