%table
  %tr
    %th Name
    %th Weight
    %th Description
  - map_products.each do |product| #chamada do metodo map_products que guardara em cada objeto 'product' os seus atributos
    %tr
    %tr
    %tr
    %td= product.name
    %td= product.weight
    %td= product.description
    %td= link_to 'Show', product_path(product), :remote => true
    %td= link_to 'Edit', edit_product_path(product), :remote => true
    %td= link_to 'Destroy', product , method: :delete, data:{confirm: 'Are you sure?'}, :remote => true