EXIBITION OF PRODUCT
%br
%br

Name:
= @product.name
%br
Description:
= @product.description
%br
Weight:
= @product.weight
%br

= link_to 'Edit', edit_product_path(@product), :remote => true
= link_to 'List', products_path