<%-if @product.errors.any? %> //Ruby on Rails
  alert('Dont create product') //Javascript
<%-else %> //Ruby on Rails
  // $: function para obter um objeto html. Passando o parâmetro com uma tralha, ele obterá pelo id informado.
  // O método "html", insere um código html dentro desse objeto obtido com o jquery.
  $('#list').html("<%= escape_javascript render 'list' %>") //Javascript on Jquery
  alert('Created with success') //Javascript
<%-end %> //Ruby on Rails