// condicao para testar erros (tag para testar codigo ruby:  <%-  %> )
<%- if @product.errors.any? %> // testa valor booleano? (se existir erro exibe msg de alerta)
  alert('Destroy error!') //mensagem
<%- else %>  //senao executa esta function JQUERY
  $('#list').html("<%= escape_javascript render 'list' %>") //O JQUERY armazena em uma div '#list'  o HTML que esta sendo passado (javascript)
<%- end %>