%h1 List of products
/ esta carregando a 'div list' e renderizando a partial list
#list
  = render "list"
%br
= link_to 'Create product', new_product_path, :remote => true

/carrega a 'div io'  que sera exibida juntamente na mesma pagina com o 'list'
#io

#ed
%br

#sh