<!DOCTYPE html>
<html>
  <head>
    <title>Registration of people, products and tasks</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <%= notice %> <!--variavel criada posteriormente para exibir a mensagem no layout-->

    <script type="text/javascript">
      <%= yield %>
    </script>

    <!-- esta div exibe um id na tela que sera usado para efetuar o login da sessão -->
    <div id="session_id">
      <%= current_user.user if current_user %>
    </div>

  </body>

</html>